:root{
    --pink: #db8679;
    --black: #000000;
    --gray: #8e8e8e;
    --white:#f5f6fa;
}

body{
    background: var(--white);
    background-size: cover;
    min-height: 100vh;
    margin:0;
    padding:0;
}
.text-pink{
    color:var(--pink);
}
.nav-link{
    color:var(--black);
}
.nav-link:hover{
    color:var(--pink);
}
.nav-item img{
    max-height:50px;
}

